@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none !important;
}
.bg-radial-gradient {
  background-image: radial-gradient(
    circle at 10% 20%,
    rgba(4, 159, 108, 1) 0%,
    rgba(194, 254, 113, 1) 90.1%
  );
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1e1e1e;
--foreground: #fafafa;

--card: #1e1e1e;
--card-foreground: #fafafa;

--popover: #1e1e1e;
--popover-foreground: #fafafa;

--primary: #fafafa;
--primary-foreground: #1b1b1b;

--secondary: #2f2f2f;
--secondary-foreground: #fafafa;

--muted: #2f2f2f;
--muted-foreground: #d1d1d1;

--accent: #2f2f2f;
--accent-foreground: #fafafa;

--destructive: #9e2525;
--destructive-foreground: #fafafa;

--border: #2f2f2f;
--input: #2f2f2f;
--ring: #4a4a4a;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#15181E];
  }
}


.space-links {
  transition: 0.3s;
}

.space-links:hover {
  letter-spacing: 1px;
}
